<ion-header>
  <ion-toolbar>
    <ion-title>products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid style="height:100%;">
    <ion-row justify-content-center align-items-center style="height:100%;">

      <ion-col size=12 size-sm=10 offset-sm=1 size-md=8 offset-md=2 size-lg=2 size-lg=6 offset-xl=4>
        

        <ion-card-content class="i-c-content">
          <form #f="ngForm" (ngSubmit)="addProduct(f)">
            <ion-item lines="none">
            <ion-input type="text" name="productname" ngModel placeholder="Product Name" required>

            </ion-input>
            
            </ion-item>

            <ion-item lines="none">
              <ion-input type="text" name="price" ngModel placeholder="Price" required>
    
              </ion-input>
            </ion-item>

              <ion-item lines="none">
                <input type="file" ngModel  name="image" required #image>
      
                
              </ion-item>
              

              <ion-button color="primary" expand="block" type="submit" value="Save" >Add</ion-button>
          </form>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
